<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4 class="text-center">Edit Category</h4>
            <form action="/admin/categories/update" method="post">
                <input type="hidden" name="id" value="<%= category._id%>"/>
                <div class="card">
                    <div class="card-header">
                        <h4>Edit Your Category Here</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Category Name</label>
                            <input type="text" class="form-control" name="category_name" value="<%= category.category_name %>"/>
                        </div>
                        

                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Update" class="btn btn-success" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>