
    <div class="col-md-9">
            <h5>About Us</h5>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aliquam dolorem pariatur, placeat quisquam praesentium explicabo dolor voluptatum adipisci esse voluptas iure at error? Provident pariatur magnam at eaque minus?</p>
                </div>
            </div>
        </div>
    