<div class="container-fluid">
    <h1 class="text-center">About</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h5>Categories</h5>
            <ul class="nav flex-column border left-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Mobile</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Electronics</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Fashion</a>
                </li>
            </ul>
        </div>
        <div class="col-md-9">
            <h5>About Us</h5>
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores aliquam dolorem pariatur, placeat quisquam praesentium explicabo dolor voluptatum adipisci esse voluptas iure at error? Provident pariatur magnam at eaque minus?</p>
                </div>
            </div>
        </div>
    </div>
</div>