<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="user">
                <div class="form-group">
                    <label>Full Name</label>
                    <input type="text" [ngClass]="{ 'is-invalid' : check && user.controls.f_name.errors }" formControlName="f_name" class="form-control"/>
                    <div *ngIf="check && user.controls.f_name.errors" class="invalid-feedback">
                        <p *ngIf="user.controls.f_name.errors.required">
                            Insert Your Full Name
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="text" [ngClass]="{ 'is-invalid' : check && user.controls.email.errors }" formControlName="email"
                        class="form-control" />
                    <div *ngIf="check && user.controls.email.errors" class="invalid-feedback">
                        <p *ngIf="user.controls.email.errors.required">
                            Insert Your Email
                        </p>
                        <p *ngIf="user.controls.email.errors.email">
                            Correct Email Id
                        </p>
                    </div>
                </div>



                <div class="form-group">
                    <label>Password</label>
                    <input type="password" formControlName="password" [ngClass]="{'is-invalid': check && user.controls.password.errors}" class="form-control" />
                    <div *ngIf="check && user.controls.password.errors" class="invalid-feedback">
                        <p *ngIf="user.controls.password.errors.required">
                            Insert Your Password
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label>Re-Password</label>
                    <input type="password" formControlName="rePassword" class="form-control" [ngClass]="{'is-invalid': check && user.controls.rePassword.errors}"/>
                    <div *ngIf="check && user.controls.rePassword.errors" class="invalid-feedback">
                        <p *ngIf="user.controls.rePassword.errors.required">
                            Insert Your Re-Password
                        </p>
                        <p *ngIf="user.controls.rePassword.errors.myError">
                            Password and Re-Password not matched !
                        </p>
                    </div>
                </div>


                <div class="form-group">
                    <label>Contact</label>
                    <input type="text" [ngClass]="{ 'is-invalid' : check && user.controls.contact.errors }" formControlName="contact"
                        class="form-control" />
                    <div *ngIf="check && user.controls.contact.errors" class="invalid-feedback">
                        <p *ngIf="user.controls.contact.errors.required">
                            Insert Your Contact Number
                        </p>
                        <p *ngIf="user.controls.contact.errors.numErr">
                            Insert Number Only
                        </p>
                    </div>
                </div>





















                <div class="form-group">
                    <input type="submit" (click)="save()" value="Signup" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
