<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <ng-image-slider [imageSize]="size" [infinite]="true" [autoSlide]="2" [animationSpeed]="speed" [images]="imageObject" #nav></ng-image-slider>
        </div>
    </div>
</div>
<Hr />
<div class="container">
    <div class="row">
        <div class="col-md-6">
            
            <pre>{{ hobby | json }}</pre>


            Hobby 
            <input type="checkbox" (click)="demo('cricket', $event)" value="cricket"/>
            <br />
            <input type="checkbox" (click)="demo('football', $event)" value="football"/>
            <br />
            <input type="checkbox" (click)="demo('music', $event)" value="music"/>
            <br />
            <Hr />
            <button>OK</button>
        </div>
    </div>
</div>


	