<nav class="navbar navbar-expand-sm bg-dark navbar-light sticky-top">
	<a href="#" class="navbar-brand text-light">
		E-shop
	</a>
	<button class="navbar-toggler" data-toggle="collapse" data-target="#topMenu">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="topMenu">
		<ul class="nav navbar-nav justify-content-end">
			<li class="nav-item">
				<a routerLink="" class="nav-link px-4 text-light">Home</a>
			</li>
			<li class="nav-item">
				<a routerLink="about" class="nav-link px-4 text-light">About us</a>
			</li>
			<li class="nav-item">
				<a routerLink="contact" class="nav-link px-4 text-light">Contact</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link px-4"></a>
			</li>
			<li class="nav-item dropdown">
				<a data-toggle="dropdown" href="#" class="nav-link px-4 dropdown-toggle text-light">More</a>
				<div class="dropdown-menu">
					<div class="dropdown-header">More Links</div>
					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item">Home</a>
					<a href="#" class="dropdown-item">Services</a>
				</div>
			</li>
        </ul>
       
	</div>
</nav>