<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h4 class="text-center">Add New Product</h4>
            <form action="/admin/product" method="post">
                <div class="card">
                    <div class="card-header">
                        <h4>Add New Product Here</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Product Title</label>
                            <input type="text" class="form-control" name="product_title"/>
                        </div>
                        <div class="form-group">
                            <label>Product Price</label>
                            <input type="text" class="form-group" name="product_price"/>
                        </div>
                        <div class="form-group">
                            <label>Product Detail</label>
                            <textarea type="text" class="form-group" name="product_detail"></textarea>
                        </div>
                        
                        <div class="from-group">
                            <label>Product Category</label>
                            <select class="form-control" name="Product_category">
                            <option>Select Catogory</option>
                            <% category.forEach(function(x){ %>
                                <option value="<%= x._id %>"><%= x.category_name %></option>

                            <% }) %>
                            </select>
                        </div>
                        
                        <div class="form-group">
                            <label>Product Discount</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="product_discount" />
                                <div class="input-group-append">
                                    <span class="input-group-text">%</span>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div class="card-footer">
                            <input type="submit" value="Add" class="btn btn-success" />
                        </div>
                </div>
            </form>
        </div>
    </div>
</div>