<p>login works!</p>

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Registration for services </title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="https://portal.eagleconferencing.in/images/favicon.png" type="img/x-icon">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

<link rel="stylesheet" href="https://portal.eagleconferencing.in/dist/css/layout.css">
<link rel="stylesheet" href="https://portal.eagleconferencing.in/dist/css/style.css">

<link rel="stylesheet" href="https://portal.eagleconferencing.in/plugins/iCheck/square/pink.css">

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition register-page">
<div class="register-box">
<div class="register-logo">
<a href="https://portal.eagleconferencing.in/login"><img src="../../../assets//image/logo.jpg" class="img-fluid"></a>
</div>
<div class="card">
<div class="card-body register-card-body">

<div class="row">
<div class="col-md-12 col-md-offset-2">
<div class="flash-message">
</div> 
</div>
</div>

<p class="login-box-msg">Sign in to start your session</p>
<form action="https://portal.eagleconferencing.in/login" method="post">
<input type="hidden" name="_token" value="x1n3RtOlJm9pSCI4q9oJhz3KpNBF0FmNZc9HA4et">
<div class="form-group has-feedback">
<label for="email">Email</label>
<input type="email" name="email" id="email" autocomplete="off" autofocus class="form-control" placeholder="Email" required value="">
<span class="form-control-feedback">REQ</span>
<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
</div>
<div class="form-group has-feedback">
<label for="password">Password</label>
<input type="password" name="password" id="password" autocomplete="off" class="form-control" placeholder="Password" required>
<span class="form-control-feedback">REQ</span>
<span class="glyphicon glyphicon-lock form-control-feedback"></span>
</div>
<div class="row">
<div class="col-12 forgot-link">
<a href="https://portal.eagleconferencing.in/password/reset" class="link-muted">I forgot my password</a>
</div>

<div class="col-12 my-3">
<button type="submit" class="btn btn-danger btn-block btn-flat main-btn">Sign In</button>
</div>

</div>
</form>
<div class="col-md-12 mt-2">
<a href="https://portal.eagleconferencing.in/register" class="text-center d-block link-muted">Create New Account</a>
</div>
</div>

</div>
<div class="cloud-flare-wrapper">
<div class="text-center">This portal is safe & secure</div>
<!-- <script data-cfbadgetype="g" data-cfbadgeskin="gray" type="7e94091f4dc68222ed5d8ed0-text/javascript">
//<![CDATA[
try{window.CloudFlare||function(){var a=window.document,b=a.createElement("script"),a=a.getElementsByTagName("script")[0];window.CloudFlare=[];b.type="text/javascript";b.async=!0;b.src="//ajax.cloudflare.com/cdn-cgi/nexp/cloudflare.js";a.parentNode.insertBefore(b,a)}(),CloudFlare.push(function(a){a(["cloudflare/badge"])})}catch(e$$5){try{console.error("CloudFlare badge code could not be loaded. "+e$$5.message)}catch(e$$6){}};
//]]>
</script> -->
</div>
</div>

<script src="https://portal.eagleconferencing.in/plugins/jQuery/jquery-2.2.3.min.js" type="7e94091f4dc68222ed5d8ed0-text/javascript"></script>
<script src="https://portal.eagleconferencing.in/js/jquery.validate.min.js" type="7e94091f4dc68222ed5d8ed0-text/javascript"></script>
<script src="https://portal.eagleconferencing.in/bootstrap/js/bootstrap.min.js" type="7e94091f4dc68222ed5d8ed0-text/javascript"></script>
<script src="https://portal.eagleconferencing.in/plugins/bootstrap/js/bootstrap.bundle.min.js" type="7e94091f4dc68222ed5d8ed0-text/javascript"></script>
<script src="https://portal.eagleconferencing.in/plugins/iCheck/icheck.js" type="7e94091f4dc68222ed5d8ed0-text/javascript"></script>
<script src="https://portal.eagleconferencing.in/js/bootbox.min.js" type="7e94091f4dc68222ed5d8ed0-text/javascript"></script>
<script src="https://portal.eagleconferencing.in/js/main.js" type="7e94091f4dc68222ed5d8ed0-text/javascript"></script>
<!-- <script type="7e94091f4dc68222ed5d8ed0-text/javascript">
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-pink',
            radioClass   : 'iradio_square-pink',
            increaseArea : '20%' // optional
        })
    })
</script> -->
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="7e94091f4dc68222ed5d8ed0-|49" defer=""></script></body>
</html>