<html>
    <head>
        <link type='text/css' rel="stylesheet" href="/css/bootstrap.css" />
        <link type='text/css' rel="stylesheet" href="/css/font-awesome.css" />
        <link type='text/css' rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.bundle.js"></script>
        


    </head>
    <body>
        <div class="container-fluid bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <ul class="nav justify-content-end">
                           
                                <li class="nav-item">
                                    <a href="#" class="nav-link text-dark">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link text-dark">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link text-dark">view</a>
                                </li>
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    
                           
                       
        <%- include(pagename); %>
    </body>
        
    </html>