<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <button class="btn btn-info btn-sm" data-target="#addModal" (click)="askAdd()" data-toggle="modal">Add</button>
            <br><br>
            <table class="table table-hover table-bordered table-striped table-dark">
                <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>City</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr *ngFor="let employee of employees;let n = index">
                    <td>{{ n+1 }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.age }}</td>
                    <td>{{ employee.city }}</td>
                    <td><button class="btn btn-sm btn-info" data-target="#addModal" (click)="askEdit(employee,n)"
                            data-toggle="modal">Edit</button></td>
                    <td><button class="btn btn-sm btn-danger" data-target="#delModal" data-toggle="modal"
                            (click)="askDelete(employee,n)">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<app-add-edit-modal (addEditEvent)="addEdit($event)" [employee]="employee"> </app-add-edit-modal>
<app-del-modal [deleteEmp]="employee" (delEvent)="delete()"></app-del-modal>