<html>
<head>
    <title>Home Page</title>
</head>
<body>
<h1>About Page</h1>
<% if(a <= 20)
{ 
%>
  <h3>YES</h3>
  <% 
} 
else
{ 
%>
    <h3>NO</h3>

<% 
}
%>
<Hr />
<% for(var i=1; i<=10; i++)
{ %>
    <h1><%= i %></h1>
<% 
}
%>









</body>
</html>