<div class="container mt-4">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <pre>{{ index | json }}</pre>
            <button class="btn btn-primary" (click)="askAdd()" data-target="#addModal" data-toggle="modal">Add</button>
            <br />
            <br />
            <table class="table table-dark table-bordered">
                <tr>
                    <td>S.No.</td>
                    <td>Full Name</td>
                    <td>Age</td>
                    <td>City</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                <tr *ngFor="let employee of employees; let n = index">
                    <td>{{ n+1 }}</td>
                    <td>{{ employee.name }}</td>
                    <td>{{ employee.age }}</td>
                    <td>{{ employee.city }}</td>
                    <td><button class="btn btn-sm btn-info" (click)="askEdit(employee)" data-target="#addModal" data-toggle="modal">Edit</button></td>
                    <td><button class="btn btn-sm btn-danger"  (click)="askDelete(employee)" data-toggle="modal" data-target="#delModal">Delete</button></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<app-add-edit (addEditEvent)="addEdit($event)" [employee]="employee"></app-add-edit>







<app-delete [employee]="employee" (deleteEvent)="delete()"></app-delete>
