body{
    background-color: dodgerblue;
    font-family: helvetica;
}

p{
    color: floralwhite;
    background-color: indianred;
    background-image: url(../4.jpeg);
    background-repeat: no-repeat;
    background-position:center center;
    font-weight:bold;
    font-style: italic ;
    text-align: justify;
    text-indent: 50%;
    text-transform: uppercase;
    padding: 10px;

    font-size: 19px;
    width: 500px;
    height: 400px;

    box-shadow: 15px 15px 10px #FFF;
    border-top: 10px solid red;
}

h2{
    font-size: 50px;
    color: sienna;
    text-shadow: 2px 2px 2px skyblue;
}