<div class="container mb-4">
    <div class="row">
        <div class= "col-md-6 offset-md-3">
            <h3>Welcome to Update Page <%= session.name %></h3>
            
    <form action="#">
        
            <div class="form-group">
              <label for="exampleInputPassword1"  >Fullname</label>
              <input type="text" name="f_name" class="form-control" id="exampleInputPassword1" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"  >Email</label>
                <input type="text" name="f_name" class="form-control" id="exampleInputPassword1" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"  >Gender</label>
                <input type="text" name="f_name" class="form-control" id="exampleInputPassword1" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"  >City</label>
                <input type="text" name="f_name" class="form-control" id="exampleInputPassword1" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1"  >Contact</label>
                <input type="text" name="f_name" class="form-control" id="exampleInputPassword1" >
            </div>
            <div class="form-group">
                <label class="text-light">Address</label>
                <textarea class="form-control" name="address" placeholder="Address"></textarea>
              </div>
        </form>
        <Hr />
        <a href="/views/profile/index.ejs" class="btn btn-info mt-4">Update Details</a>
        <div class="col-md-3">
        </div>
        
                </div>
            </div>
        </div>