ul.navbar-nav {
    margin-right: 211px;
}

ul.navbar-nav li a {
    font-size: 20px;
}

.carousel .item {
  height: 500px;
}

.item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}