
        <div class="container" style="min-height: 600px">
            <h2>Terms and Condition Page</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt nihil, iusto placeat ullam aliquid accusantium doloribus voluptates sunt asperiores consequatur et non delectus eveniet, repellat vel laudantium dolore! Temporibus, deleniti!Lorem</p>
        </div>
       