
<div style="text-align: center;">
<p>home works!</p>
<mat-checkbox>I Agree</mat-checkbox> <br>
<h3>Stroked Buttons</h3>
<div class="example-button-row " >
  <button mat-button>Basic</button>
  <button mat-stroked-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-flat-button color="warn">Warn</button>
  <button mat-fab color="warn">Disabled</button>
  <a mat-stroked-button routerLink=".">Link</a>
  <mat-slide-toggle>Slide Me!</mat-slide-toggle>
  <mat-slider></mat-slider>
</div>

</div>