<html>

<head>
    <title>Home Page</title>
</head>

<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius animi
        quis amet obcaecati soluta, earum excepturi architecto natus omnis doloru
        m tenetur reprehenderit neque facilis illum in quaerat praesentium, perspiciatis quidem?</p>

    <h2><%= name %></h2>
    <h2><%= age %></h2>



</body>

</html>