<html>

<head>
    <title>open source</title>
</head>

<body>
    <h1>Block chain technology </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sit quia accusantium, eum fugiat i
        <br> psum perferendis fugit suscipit quibusdam obcaecati doloremque, aut ullam nostrum dolore possimus,
        corporis vero. Minus, minima.</p>
    <a href="#">Crypto</a>
    <table>
        <tr>
            <th>S.no</th>
            <th>Name</th>
            <th>Age</th>
            <th>city</th>
        </tr>
        <% cool.forEach(function(p,y) { %>
        <tr>
            <td><%= y+1 %></td>
            <td><%= p.Name %></td>
            <td><%= p.Age %></td>
            <td><%= p.city %></td>
        </tr>
        <% }); %>
    </table>
</body>

</html>