<html>
    <head>
        <link type='text/css' rel="stylesheet" href="/css/bootstrap.css" />
        <link type='text/css' rel="stylesheet" href="/css/font-awesome.css" />
        <link type='text/css' rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.bundle.js"></script>
        <title><%= title %></title>


    </head>
    <body>

        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a href="/" class="navbar-brand">
                Admin Panel
                <!-- <p>best shopping destination</p> -->
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <% if(session.is_admin_logged_in)
            { %>

            
            <div id="mainMenu" class="collapse navbar-collapse">
                <ul class="navbar-nav nav mr-auto">
                    <li class="nav-item">
                        <a href="/admin/dashboard" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/product" class="nav-link">Product</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/category" class="nav-link">Category</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/logout" class="nav-link">Logout</a>
                    </li>
                    
                </ul>
                
            </div>
            
            <% } %>
        </nav>
        

        <div class="container-fluid" style="min-height: 600px">
            <%- include(pagename); %>
        </div>

        
        
        </body>
        
        </html>