<p>home works!</p>
<br />
<h2>{{ test.name }}</h2>

<h3 appHello>Indore</h3>
<p appHello>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus, animi nostrum aliquam corporis vel necessitatibus qui nihil, autem rem dicta eligendi ut minus omnis quos modi soluta, voluptate ab vero.</p>

<button loader class="btn btn-primary">Go</button>

<Br />
<input type="text" [(ngModel)]="x"/>
<button (click)="hello()">Hello World</button>
<hr />
<app-box [demo]="test" (goToParent)="recChild($event)"></app-box>
