<div class="container-fluid">
  <div class="container"> 
      <div class="row">
          <div class="col-md-12">
              <h1>welcome to about page</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, omnis. Doloremque dolorem, 
                  repudiandae aliquid aspernatur dolorum necessitatibus, unde architecto accusamus labore et possimus
                   esse debitis iure voluptatem culpa? Explicabo, rerum. Lorem ipsum dolor sit amet consectetur, 
                   adipisicing elit. Molestias dolore porro incidunt iure aperiam deserunt mollitia non facilis, molestiae fugit cumque 
                   soluta corrupti aspernatur aliquam reiciendis, sint rerum officia laboriosam?</p>

          </div>

      </div>
      
  </div>
</div>