li.list-group-item:hover{
    background-color:#F6DBAE;
    color: blanchedalmond;
}

.container .list-group li{
    padding: 14px;
    width: 296px;

}
a.navbar-brand:hover{
    color: #FFEEBB !important;
    font-size: 19px;

}
/* .container{
    margin-top: 8%;
    margin-left: 8%;
} */

.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}

/* .footer{
    position: fixed;
   
} */




