
                <div class="col-md-9">
                    <h5>Products</h5>
                    <div class="row">
                        <% product.forEach(function(x){ %>

                        


                        <div class="col-md-4 col-6 col-sm-6">
                            <div class="card mb-4">
                                <img class="card-img-top" src="image/1.png" />
                                <div class="card-body">
                                    <p class="card-title float-left font-weight-bold"><%= x.product_title %></p>
                                    <p class="card-title float-right">&#8377; <%= x.product_price %></p>
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-sm btn-info">More</a>
                                </div>

                            </div>
                        </div>
                        <% })%>
                        
                    </div>




        