body{
	margin: 0;
	padding: 0;
}
.header{
	height: 85px;
	width:  100%;
	background-color: #3B5998;
}
.content{
	height: 600px;
	width: 100%;
	background-color: #E9EBEE;
}
.footer{
	height: 132px;
	width: 100%;
	background-color: #FFFFFF;
}