<div id="login" class="form-wrapper">

    <form action="/login" method="post" class="form">
        <h4 class="text-center text-muted">Login</h4>
        <div class="form-group">
            <label class="form-label" for="first">Username or Email</label>
            <input id="first" class="form-input" name="email" type="text" />
        </div>
        <div class="form-group ">
            <label class="form-label" for="last">Password</label>
            <input id="last" class="form-input" name="password" type="password" />
        </div>
        <div class="form-group submit-btn">

            <input id="last" class="border-0 px-4 btn btn-primary" value="Login" type="submit" />
        </div>
        <p class="text-danger">
            <%= errMsg %>
        </p>
    </form>
</div>

<script src="/js/login.js"></script>
<script>
    window.onload = function(){ 
         
        $('html, body').animate({
            scrollTop: $('#login').offset().top
        }, 'slow');
        
    }
        
        </script>