<h1 class="text-center" id="congrats">Congratulation For Buy This Product</h1>

<script>
window.onload = function(){ 
     
    $('html, body').animate({
        scrollTop: $('#congrats').offset().top
    }, 'slow');
    
}
    
    </script>