<html>

<head>
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/3.png">
    <link type='text/css' rel="stylesheet" href="/css/bootstrap.css" />
    <link type='text/css' rel="stylesheet" href="/css/font-awesome.css" />
    <link type='text/css' rel="stylesheet" href="/css/style.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <title>
        <%= title %>
    </title>
    <style>
        .container a {
            border: 0;
            border-radius: 0;
        }
        
        .fit-content {
            width: fit-content;
        }
    </style>

</head>

<body>
    <div class="mx-auto fit-content">
        <a href="/" class="navbar-brand text-dark text-center my-2"><i class="fa fa-shopping-bag mr-3 text-success" aria-hidden="true" style="font-size: 15px;"></i>ShoppingMall.com</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <h1 class="text-center">Oops! Page Not Found.</h1>
                    <p class="text-center ">404. <span class="text-muted">That’s an error.</span> </p>
                    <div class="mx-auto mt-4 fit-content">
                        <img src="/image/robot.png" alt="Robot">

                    </div>
                </div>
                <div class="mx-auto fit-content"> <a href="/" class="btn btn-dark "> Back to Home Page </a> </div>
            </div>
        </div>
    </div>

</body>

</html>