<div class="jumbotron jumbotron-fluid " style="height:0px; ">
    <div class="container">
        <div style="position:relative; bottom: 46px;">
            <h1 class="text-center font-weight-Normal">Collections</h1>
            <h2 class="text-center font-weight-light">Discovers Our Lattest Campaign Shoots And Shops The Look's
            </h2>
        </div>
    </div>
</div>



<!-- <div class="jumboton-fluid">
    <div class="jumbotron" style="background-image: url(/image/rux8.png);" style=""> -->


</div>

</div>


<h1 class="text-center">Offer and discount</h1>

<div class="container-fliud">
    <div class="container p-0">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"> Women's </li>
                            <li class="list-group-item">Mens</li>
                            <li class="list-group-item">Kids</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-deck">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This card has even longer content than the first to show that equal
                                height action.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


</div>