


<div class="container-fluid">
<div class="row">
        <div class="col-md-4">
             <h5>Categories</h5>
             <ul class="nav flex-column border left-menu ">
                 

               
                 <li class="nav-item">
                     <a href="#" class="nav-link text-dark">shoes</a>
                 </li>
                 <li class="nav-item">
                    <a href="#" class="nav-link text-dark">watches</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark">woman's wear</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-dark">man's wear</a>
                </li>
                
             </ul>
        </div>


    
             <div class="col-md-8">

<div id="demo" class="carousel slide" data-ride="carousel">

<!-- Indicators -->
<ul class="carousel-indicators">
<li data-target="#demo" data-slide-to="0" class="active"></li>
<li data-target="#demo" data-slide-to="1"></li>
<li data-target="#demo" data-slide-to="2"></li>
</ul>

<!-- The slideshow -->
<div class="carousel-inner">
<div class="carousel-item active">
<img class="d-block w-100" src="images/banner01.jpg" alt="Los Angeles">
</div>
<div class="carousel-item">
<img class="d-block w-100" src="images/banner01.jpg" alt="Chicago">
</div>
<div class="carousel-item">
<img class="d-block w-100" src="images/banner01.jpg" alt="New York">
</div>
</div>

<!-- Left and right controls -->
<a class="carousel-control-prev" href="#demo" data-slide="prev">
<span class="carousel-control-prev-icon"></span>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
<span class="carousel-control-next-icon"></span>
</a>

</div>
</div>

</div>
</div>




     


 <div class="container-fluid bg-light">
     <div class="container">
         <div class="row">
             <h1 class="text-center">Shop now</h1>
         </div>
     </div>
 </div>




 
