<div class="col-md-9">
    <h5>Item in Your Cart</h5>
    <a href="/cart/clear">Clear Cart</a>
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <table class="table table-dark table-hover table-striped">
                <tr>
                    <th>S.No.</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>
                <% result.forEach(function(x, i){ %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= x.product_title %></td>
                        <td><%= x.product_price %></td>
                        <td><img src="/upload/<%= x.image %>" height="80" width="80"</td>
                    </tr>
                <% }) %>

            </table>
        </div>

    </div>
</div>