.bg-blue{
	background-color: #3C7EAA;
}
.navbar-text-light ul li a{
	color: blue !important;
}
.navbar-text-light a.navbar-brand{

	color: #FFF !important;
	font-weight: bolder;
}
.btn-text-light{
	color: #FFF !important;
}
.jumbotron{
	background-image: url("../image/slider-img.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}


