
.navbar-text-light ul li a{
	color: #313131 !important;
}

.nav_brand-font-size{
	font-size: 32px;
	font-weight: 600;
}
.bg-white{
	background-color: #fff;
}
.navbar-text-light a.navbar-brand{

	color: #070707 !important;
	font-weight: bolder;
}
.bt