<html>

<head>
    <title>home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-2"></div>
            <div class="mt-4">
                <button class="btn btn-info" data-target="#modal" data-toggle="modal">Show Calender</button>
           <a class="btn btn-danger  mr-4" href="/FindLeepYear">Find Leep Year</a>
        </div>
        </div>
    </div>

    <div class="modal fade "  id="modal" role="dialog">
        <div class="modal-dialog ">
        
          <!-- Modal content-->
       
    
          <div class="modal-content ">
            <div class="modal-header">
              <h4 class="modal-title mx-auto" > <b> <em> Calender-2020 </em> </b> </h4>
            </div>
             
            <div class="modal-body">
                <table class="table table-hover" id="table">
                    <thead>
                        <th>Month</th>
                        <th>Days</th>
                        <th>Years</th>
                    </thead>
                    <tbody>


                        <%
                            data.forEach(function(x){
                               %>
                        <tr>
                            <td><%= x.month %></td>
                            <td><%= x.days %></td>
                            <td>2020</td>
                        </tr>
                        <% });
                            %>


                    </tbody>
                </table>
        
            </div>
        
     
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>



</body>

</html>