p{
    color : red;
    font-size: 25px;
}

h2{
    color : white;
    background-color : green;
}

#first-head{
    background-color: grey;
    color : darkblue;
}

#second-head{
    background-color: darkred;
    color: darkseagreen;
}

.my-class{
    background-color: dodgerblue;
    color: gainsboro;
}

#myid span{
    background-color: green;
}

#box .my-class span p{

}

h1 #box p{
    font-size: 20px;
}