<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="/css/font-awesome.css" />
        <link type="text/css" rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.bundle.js"></script>
        <title><%= title %></title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a href="/" class="navbar-brand">Admin Panel</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#mainmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <% if(session.is_admin_logged_in)
            { %>
                <div id="mainmenu" class="collapse navbar-collapse">
                    <ul class="navbar-nav nav mr-auto">
                        <li class="nav-item">
                            <a href="/admin/dashboard" class="nav-link" >Dashboard</a>
                        </li>
                        <li class="nav-itme dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle">Product</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-header">Products</div>
                                <a href="/admin/product" class="dropdown-item">Add</a>
                                <a href="/admin/product/view" class="dropdown-item">View</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">category</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-header">Category</div>
                                <a href="/admin/category" class="dropdown-item">Add</a>
                                <a href="/admin/category/view" class="dropdown-item">View</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/logout" class="nav-link">Logout</a>
                        </li>
                    </ul>
                </div>
                <% } %>

            
        </nav>

        <div class="container-fluid" style="min-height: 600px;">
        <%- include(pagename); %>
        </div>
    </body>
</html>