<div class="container-fluid bg-dark p-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="/" class="nav-link text-light">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link text-light">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link text-light">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-light">Help</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>


</body>

</html>