<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">CRUD</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">

            <ng-template [ngIf]="_login.isLoggedIn()" [ngIfElse]="beforeLogin">

                <li class="nav-item">
                    <a class="nav-link" routerLink="">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="employee">Employee</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="profile">Profile</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" routerLink="slider">Slider</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" routerLink="fileupload">File Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer;" (click)="_login.Logout()">Logout</a>
                </li>


            </ng-template>

            <ng-template #beforeLogin>
                <li class="nav-item">
                    <a class="nav-link" routerLink="signup">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="login">Login</a>
                </li>

            </ng-template>


        </ul>
    </div>
</nav>
<router-outlet></router-outlet>